<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Employee Manager App <i class="glyphicon glyphicon-phone"></i></a>
    </div>
    
    
    <div class="collapse navbar-collapse" *ngIf="!isAuthenticated">
        <ul class="nav navbar-nav navbar-right">
            <li >  <a  routerLink="/login">Login</a> </li> 
        </ul>
    </div>

    <div class="collapse navbar-collapse" *ngIf="isAuthenticated">
        <ul class="nav navbar-nav navbar-right">
            
            <li >  <a  routerLink="/home" >Home <i class="glyphicon glyphicon-edit"></i></a> </li>
            <li >  <a  routerLink="/profile" >Personal Details <i class="glyphicon glyphicon-user"></i></a> </li>
            <li >  <a href="#" (click)="onLogoutUser()">Logout <i class="glyphicon glyphicon-off"></i></a> </li>
            <!-- <li >  <a   >Login <i class="glyphicon glyphicon-user"></i></a> </li> -->
            <!-- <li >  <a  >Add User <i class="glyphicon glyphicon-user"></i></a> </li> --> 
            <!-- <li >  <a  >Employee List <i class="glyphicon glyphicon-list-alt"></i></a> </li> -->

        </ul>
    </div>
    </div>
    </nav>